snippet phony
	.PHONY: ${1:target}
	$1: ${2:}

snippet mkdir
	${1:directory}: # declare it as a prerequisite with a |
		mkdir $@

snippet command
	ifeq ($(shell which ${1:tool}),)
	$(error Error, missing $1)
	endif

snippet isset
	ifeq ($(${1:VARIABLE}),)
	$(error $1 not set)
	endif
snippet uname
	$(shell uname | tr A-Z a-z)
snippet avrule
	$@
snippet avfirstprereq
	$<
snippet avallnewerprereq
	$?
snippet avallaprereq
	$^
snippet hgroot
	$(shell git rev-parse --show-toplevel)
