snippet valu
	<value name="${1:}" value="${2:}"/>
snippet cc
	<!-- ${1:} -->
snippet typ
	<type name="${1:}" resource="${2:ACCMD_SIGNALS}">
	</type>
snippet fstatu
	<field name="Status">
	    <type>Accmd_Status</type>
	</field>
